<form [formGroup] class="container w-50">
    <div class="text-center mb-4">
        <img class="mb-4 mt-3" src="https://i.dlpng.com/static/png/6770178_preview.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Movie King</h1>
        <p>The Official Home of Correct Movie Opinions </p>
    </div>


    <div class="form-label-group">
        <label for="inputName">Username</label>
        <input type="text" id="inputName" class="form-control" placeholder="Username" required="" autofocus="">

    </div>

    <div class="form-label-group mb-3">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">


    </div>


    <button class="btn btn-lg btn-primary btn-block text-wrap" type="submit">Sign
        Up</button>

</form>