<div style="background-color: black;">
 <h1 style="color:yellow ;margin-left:13%; border-left: 7px solid silver; margin-top: 2px; border-radius: 5px; vertical-align: middle;">
    MY WATCH LIST
    <span style="position: relative;" *ngIf="watchlistdata.length">
     <span  style="color:red;">
      <i class="fas fa-shopping-bag"></i> </span>
     <span style="position: absolute;left:9px;top:25px;color: purple;border-radius:50%;background-color: white;width: 20px;height: 20px;font-size: 20px;padding-left:6px;padding-bottom: 23px;">{{watchlistdata.length}}</span>
     </span>
 </h1>
  
 <div class="watch list" style="display:flex; flex-wrap: wrap;  margin: auto; background-color: black; justify-content: space-evenly;">
    <div class="wistlistitem" style="width:250px; text-align: center; background-color:blue; margin:10px;" *ngFor="let data of watchlistdata">
      <img src="https://image.tmdb.org/t/p/w500{{data.poster_path}}" width="250px" height="300px;" >
      <div class="details text-left" style=" color:black">
        <h6>RATING:  <ngb-rating [rate]="data.vote_average"></ngb-rating></h6>
        <h6 style="min-height: 30px;">NAME : {{data.original_title}}</h6>
        <a href="https://youtu.be/KK8FHdFluOQ"><button style="width:200px;margin-left:10%;">watch now</button></a>
      </div>
     
    </div>
 </div>
</div> 

