<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4-MCYbTIEW_V2Zj1EcyVC4LoMAJtFAzIsKg&usqp=CAU" width="30" height="30" alt=""><a class="navbar-brand text-light ml-3" >Movie King</a>
    <button class="btn btn-outline-warning ml-auto mr-1 my-2 my-sm-0" type="submit" routerLink="/mywall">My Wall</button>
    <button class="btn btn-outline-warning ml-auto mr-1 my-2 my-sm-0" type="submit" routerLink="/">Home</button>
        

    <input list="users" class="form-control  mr-sm-2" style="max-width: 340px;" placeholder="Search User" aria-label="Search" #user>
    <datalist  id="users">
        <ng-container  *ngFor=" let item of allusername">
            <option value={{item}} *ngIf="item== me? false : true" ></option>
        </ng-container>
    </datalist>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="grabOtherUser(user)">Search</button>
     
</nav>

<div class="bg-light">
    <div class="container bg-none">
        <div class="row ">
            <div class="col-md-6 mt-3 col-sm-12">

                <div class="card mb-3 border-0" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://icons-for-free.com/iconfiles/png/512/business+costume+male+man+office+user+icon-1320196264882354682.png"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{visiteduser | uppercase}}</h5>
                                <p class="card-text">{{mybio}}</p>
                                <p class="card-text"><small class="text-muted">Last updated few mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3 col-sm-12 text-right">

                <div class="card mb-3 border-0" style="max-width: 540px;">
                    <div class="row no-gutters">

                        <div class="col">
                            <div class="card-body">
                             

                                <h5 class="card-title"> {{totalmoviereviewed }}
                                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                                        class="bi bi-pencil-square " fill="green" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg> Movie Reviewed
                                </h5>

                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <hr>
       <!-- test ground -->
       

       
       <hr>
       
        <!-- print all posts made by the user  -->
        
        <div class="row" *ngFor="let item of activities | keyvalue">
            <div class="col-md-10 mt-3 col-sm-12">

                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <img src="https://icons-for-free.com/iconfiles/png/512/business+costume+male+man+office+user+icon-1320196264882354682.png"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body  pb-0 ">
                                <h5 class="card-title">{{item.value.movie}}</h5>
                                <p class="card-text">{{item.value.review}}</p>
                                <div class=" card-footer w-100 d-flex">
                                    <div> {{item.value.stars}} ⭐</div>
                                    <div class="ml-auto">
                                        <button class="btn btn-primary mr-3" *ngIf="!(item.value.likes).includes(Name)" (click)="like(item.key)" >{{item.value.totalLikes}} like  </button>
                                        
                                        <button class="btn btn-primary mr-3" *ngIf="(item.value.likes).includes(Name)" (click)="dislike(item.key)">{{item.value.totalLikes}} Dislike</button>
                                        <button class="btn btn-primary" (click)="comment(item.key,visiteduser)">comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>

</div>