.container-fluid{
    background-color: #CAFAFE;
}
.nav{
    background-color: #55BCC9;
}
h2{
    color: #FC4445;
    margin-left: 17px;
}
.d-flex{
    padding-top: 10px;
    justify-content: space-around
}
.card{
    
    background-color: #3FEEE6;
}
.card-body{
    background-color: #3FEEE6;
}
.likecomment{
    padding-bottom: 5px;;
}
.btn, .card-title{
    font-size: small;
}
.btn{
    
    margin-left: 7px;;
}
.card-title{
    overflow: none;

}