
<div style="display:flex">
    <h2 style="width: 50%;">New Releases</h2>
    <a routerLink="" style="margin-left: 40%;"><button >home page</button></a>
</div>

<div class="d-flex justify-content-between">
<div class="card" style="width: 8rem;" *ngFor="let data of newmovies">
  <img src="https://image.tmdb.org/t/p/original{{data.poster_path}}" width="100%" height="150px" class="text-center" alt="...">
  <div class="card-body">
    <h5 class="card-title"  >
        <b style="overflow: hidden;">{{data.original_title}}</b>
    </h5>
    
    <p class="card-text" style="overflow: hidden;"></p>
    <a href="#" class="btn btn-primary">Add to Watchlist</a>
  </div>
</div>
</div>

<div class="d-flex justify-content-between">
  <div class="card" style="width: 8rem;" *ngFor="let data of newmovies2">
    <img src="https://image.tmdb.org/t/p/original{{data.poster_path}}" width="100%" height="150px" class="text-center" alt="...">
    <div class="card-body" style="position: relative;">
      <h5 class="card-title"  >
          <b style="overflow: hidden;">{{data.original_title}}</b>
      </h5>
      
      <p class="card-text" style="overflow: hidden;"></p>
      <a href="#" class="btn btn-primary">Add to Watchlist</a>
    </div>
  </div>
  </div>

