.heading {
  background-color: black;
  color: yellow;
}
.topmovies {
  width: 100%;
  background-color: black;
  padding-bottom: 50px;
}
.yellowtext {
  padding-left: 50px;
  color: yellow;
}
.toppopular,
.toprated {
  background-color: #121212;
  box-sizing: border-box;
  max-width: 90%;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.btnclass {
  position: absolute;
  bottom: 20px;
}
.ratingclass {
  position: absolute;
  bottom: 50px;
}
.navButton {
  margin-left: 5%;
}
.navPopular,
.navToprated {
  padding: 15px 10px;
  background-color: black;
  color: yellow;
  border: yellow;
  margin-left: 3px;
}
