

<div  style="background-color: black;height: 100px;" >
  <!--top header-->
  <div class="container-fluid bg-primary text-light" >
    <div class="row" >
      <div class="col-sm-6 ">
        <h1 class="align-middle" ><a routerLink="" style="color: white;">MOVIE KING</a> 
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4-MCYbTIEW_V2Zj1EcyVC4LoMAJtFAzIsKg&usqp=CAU" width="70px" height="70px" style="object-fit: cover;">
        </h1>
      </div>
      
      
       
      </div>
    </div>
  </div>

<!-- Main Content-->

<div class="container-fluid main-content">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4-MCYbTIEW_V2Zj1EcyVC4LoMAJtFAzIsKg&usqp=CAU" width="30" height="30" alt="">
    <a class="navbar-brand text-light ml-3 text-dark" >
      Movie King
    </a>
  <button class="btn btn-outline-warning ml-auto mr-1 my-2 my-sm-0 text-dark" type="submit" routerLink="/">Home <i class="fas fa-home"></i></button>
</nav>

<div class="container-fluid">

    <div class="container" >
      <h1>Can You Be A Movie Critic?</h1>
      <p>Rank the movies below from 1-100. See how you stack up against movie critics.</p>
      <div>
        <div class="question">
         <span> Movie Name:  {{question}}</span>
        <label for="answer">Your Score</label>
        <input type="text" id="answer" name="answer" [(ngModel)]="uservalue" ngModel>
        <button class="check" (click)="critic('check')" class="checkbtn" >Check</button>
        </div>
        
        <div class="container feedback">{{feedback}}</div>
        <div class="container"><button (click)="critic('next')" class="checkbtn">Submit</button></div>   
      </div>

      
      
    </div>
  </div>